@import url("./reset.css");

.homepage {
  padding-top: 20px;
  text-align: center;

  >p {
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 0;
    line-height: 1.8;
    color: #444242;
    font-weight: 600;
  }

  >.homepage__container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    >div {
      width: 33.3333333%;
      padding: 0 10px;
      margin: 10px 0;

      @media (max-width: 600px) {
        width: 100%;
      }

      >div {
        padding: 50px 0;
        background: #ffffff;
        box-shadow: 0px 2px 4px #0000001a;
        border-radius: 2px;

        >p {
          text-align: center;
          font-size: 14px;
          letter-spacing: 0;
          color: #707070;
          margin-bottom: 20px;
        }

        >div {
          width: 100px;
          margin: auto;
          border: 1px solid #5099de;
          border-radius: 5px;

          >a {
            text-decoration: none;
            color: #707070;

            >div {
              width: 100%;
              padding: 8px 0;
              text-align: center;
              font-size: 12px;
              letter-spacing: 0;
              color: #707070;
            }
          }
        }
      }
    }
  }
}

.header {
  height: 80px;
  background: #ffffff;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  @media (max-width: 800px) {
    padding: 0 20px;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }

  >.header__logo {
    width: 150px;
    text-align: left;
    font-weight: 600;

    letter-spacing: 0;

    >a {
      font-size: 20px;
      color: #707070;
      text-decoration: none;
    }
  }

  >.header__nav {
    width: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    >div {
      width: 100px;
      text-align: center;
      letter-spacing: 0;
      color: #707070;
      padding: 10px 0;
      position: relative;

      >a {
        color: #707070;
        text-decoration: none;
        font-size: 13px;
      }

      &:hover {
        >.header__nav--inactive {
          display: block;
        }

      }

      >.header__nav--active {
        position: absolute;
        top: 0;
        right: 10px;
        width: 10px;
        height: 10px;
        border-radius: 60px;
        background: #c7c7c7;
        display: block;
      }

      >.header__nav--inactive {
        position: absolute;
        top: 0;
        right: 10px;
        width: 10px;
        height: 10px;
        border-radius: 60px;
        background: #c7c7c7;
        display: none;
      }
    }
  }
}

.signup {
  padding: 0 50px 100px 50px;

  >div {
    max-width: 600px;
    margin: auto;
    padding: 20px 0;

    >span {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0;
      color: #707070;
    }

    >div {
      margin: 20px 0;

      >.signup__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        height: 80px;
        padding: 0 50px;
        border: 1px solid #c7c7c7;
        cursor: pointer;

        >.signup__container--name {
          width: 100px;
          text-align: left;
          font-size: 14px;
          letter-spacing: 0;
        }

        >.signup__container--arrow {
          width: 20px;
          text-align: center;
        }
      }

      >.personal {
        background: #c7c7c7;
        color: #fff;
      }

      >.document {
        background: #fff;
        color: #707070;
      }

      >.acc {
        background: #fff;
        color: #707070;
      }

      >.signup__container--dropdown {
        padding: 50px;
        background: #ffffff;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;

        >h3 {
          letter-spacing: 0;
          color: #707070;
        }

        >div {
          margin-top: 10px;
          overflow: hidden;

          >div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            padding: 0 5px;

            >.personal__input--half {
              width: 48%;
              margin-bottom: 20px;

              >label {
                letter-spacing: 0;
                color: #707070;
                opacity: 1;
                font-size: 13px;
                font-weight: 600;
              }

              >input {
                background: #ffffff;
                border: 1px solid #c7c7c7;
                border-radius: 5px;
                margin-top: 7px;
                width: 100%;
                height: 40px;
                outline: 0;
                padding: 0 10px;
                font-size: 13px;
                opacity: 1;
              }
            }

            >.personal__input--full {
              width: 100%;

              margin-bottom: 20px;

              >label {
                letter-spacing: 0;
                color: #707070;
                opacity: 1;
                font-size: 13px;
                font-weight: 600;
              }

              >input {
                background: #ffffff;
                border: 1px solid #c7c7c7;
                border-radius: 5px;
                margin-top: 7px;
                width: 100%;
                height: 40px;
                outline: 0;
                padding: 0 10px;
                font-size: 13px;
                opacity: 1;
              }

              >select {
                background: #ffffff;
                border: 1px solid #c7c7c7;
                border-radius: 5px;
                margin-top: 7px;
                width: 100%;
                height: 40px;
                outline: 0;
                padding: 0 10px;
                font-size: 13px;
                opacity: 1;
              }

              >.btn {
                width: 100px;
                height: 40px;
                margin: auto;
                background: #ffffff;
                border: 1px solid #777777;
                border-radius: 5px;
                text-align: center;
                font-size: 10px;
                padding-top: 14px;
              }
            }

            >.document__identity {
              max-width: 400px;
              margin: auto;
              text-align: center;
              letter-spacing: 0;
              color: #707070;
              border: 1px solid #707070;
              padding: 50px 20px;

              >span {
                font-weight: 600;
                font-size: 16px;
              }

              >p {
                text-align: center;
                letter-spacing: 0;
                color: #707070;
                margin-top: 15px;
                font-size: 12px;
              }

              >div {
                margin-top: 20px;
                background: #ffffff;
                border: 1px solid #707070;
                border-radius: 5px;
                padding: 20px 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                cursor: pointer;

                >.document__container--text {
                  width: calc(100% - 20px);
                  min-width: 100px;
                  text-align: left;
                  padding-left: 50px;

                  >span {
                    text-align: left;
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 12px;
                  }

                  >p {
                    text-align: left;
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 10px;
                  }
                }

                >.document__container--arrow {
                  width: 20px;
                  min-width: 20px;
                }
              }
            }

            >.document__passport {
              max-width: 400px;
              margin: auto;
              text-align: center;
              letter-spacing: 0;
              color: #707070;
              border: 1px solid #707070;
              padding: 20px;

              >.document__passport--close {
                text-align: left;
                font-size: 20px;
              }

              >p {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                color: #707070;
                margin: 20px 0;
              }

              >.document__passport--phone {
                background: #ffffff 0% 0%;
                border: 1px solid #707070;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                padding: 10px;
                margin-bottom: 20px;

                >.document__passport--phone--text {
                  width: calc(100% - 20px);
                  text-align: center;

                  >span {
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 12px;
                  }

                  >p {
                    text-align: center;
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 10px;
                    margin-top: 7px;
                  }
                }

                >.document__passport--phone--arrow {
                  width: 20px;
                  height: 20px;
                }
              }

              >.document__passport--upload {
                background: #ffffff;
                border: 1px dashed #707070;
                border-radius: 5px;
                padding: 30px 0;

                >.document__passport--upload-image {
                  width: 30px;
                  margin: auto;

                  >img {
                    width: 100%;
                  }
                }

                >p {
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                  margin: 20px 0;
                }

                >.document__passport--upload-btn {
                  background: #ffffff;
                  padding: 10px 0;
                  border: 1px solid #707070;
                  border-radius: 5px;
                  width: 80%;
                  margin: 0 auto;
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }
              }
            }

            >.document__drivers {
              max-width: 400px;
              margin: auto;
              text-align: center;
              letter-spacing: 0;
              color: #707070;
              border: 1px solid #707070;
              padding: 20px;

              >.document__drivers--close {
                text-align: left;
                font-size: 20px;
              }

              >p {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                color: #707070;
                margin: 20px 0;
              }

              >.document__drivers--phone {
                background: #ffffff 0% 0%;
                border: 1px solid #707070;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                padding: 10px;
                margin-bottom: 20px;

                >.document__drivers--phone--text {
                  width: calc(100% - 20px);
                  text-align: center;

                  >span {
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 12px;
                  }

                  >p {
                    text-align: center;
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 10px;
                    margin-top: 7px;
                  }
                }

                >.document__drivers--phone--arrow {
                  width: 20px;
                  height: 20px;
                }
              }

              >.document__drivers--upload {
                background: #ffffff;
                border: 1px dashed #707070;
                border-radius: 5px;
                padding: 30px 0;

                >.document__drivers--upload-image {
                  width: 30px;
                  margin: auto;

                  >img {
                    width: 100%;
                  }
                }

                >p {
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                  margin: 20px 0;
                }

                >.document__drivers--upload-btn {
                  background: #ffffff;
                  padding: 10px 0;
                  border: 1px solid #707070;
                  border-radius: 5px;
                  width: 80%;
                  margin: 0 auto;
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }
              }
            }

            >.document__card {
              max-width: 400px;
              margin: auto;
              text-align: center;
              letter-spacing: 0;
              color: #707070;
              border: 1px solid #707070;
              padding: 20px;

              >.document__card--close {
                text-align: left;
                font-size: 20px;
              }

              >p {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                color: #707070;
                margin: 20px 0;
              }

              >.document__card--phone {
                background: #ffffff 0% 0%;
                border: 1px solid #707070;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                padding: 10px;
                margin-bottom: 20px;

                >.document__card--phone--text {
                  width: calc(100% - 20px);
                  text-align: center;

                  >span {
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 12px;
                  }

                  >p {
                    text-align: center;
                    letter-spacing: 0;
                    color: #707070;
                    font-size: 10px;
                    margin-top: 7px;
                  }
                }

                >.document__card--phone--arrow {
                  width: 20px;
                  height: 20px;
                }
              }

              >.document__card--upload {
                background: #ffffff;
                border: 1px dashed #707070;
                border-radius: 5px;
                padding: 30px 0;

                >.document__card--upload-image {
                  width: 30px;
                  margin: auto;

                  >img {
                    width: 100%;
                  }
                }

                >p {
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                  margin: 20px 0;
                }

                >.document__card--upload-btn {
                  background: #ffffff;
                  padding: 10px 0;
                  border: 1px solid #707070;
                  border-radius: 5px;
                  width: 80%;
                  margin: 0 auto;
                  text-align: center;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      >.signup__container--save {
        width: 200px;
        height: 40px;
        border: 1px solid #777777;
        border-radius: 5px;
        margin: 40px auto;
        font-size: 10px;
        text-align: center;
        padding-top: 14px;
        cursor: pointer;
      }
    }
  }
}

.user-dashboard {
  padding: 0 50px 100px 50px;

  >p {
    text-align: left;
    letter-spacing: 0;
    color: #707070;
    font-size: 12px;
    margin-top: 20px;
  }

  >div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;

    >.user-dashboard__list {
      width: 30%;
      background-color: #fff;

      >.user-dashboard__list-header {
        background: #F5F7FA;

        >div {
          width: 70%;
          background: #fff;
          text-align: left;
          letter-spacing: 0;
          font-size: 12px;
          color: #707070;
          padding-left: 20px;
          padding-top: 12px;
          padding-bottom: 10px;
          font-weight: 600;
        }
      }

      >.user-dashboard__list-container {
        background: #FFFFFF;
        padding: 20px;

        >.user-dashboard__list-container-text {
          background: #FFFFFf;
          border: 1px solid #C7C7C7;
          padding: 20px;
          text-align: left;
          letter-spacing: 0;
          color: #707070;
          font-size: 12px;
        }

        >.user-dashboard__list-container-profile {
          background: #FFFFFf;
          padding: 20px;
          letter-spacing: 0;
          color: #707070;
          font-size: 12px;
          text-align: center;

          >div {
            width: 40px;
            height: 40px;
            margin: 0 auto 10px auto;
          }

          >span {
            text-decoration: underline;
            letter-spacing: 0;
            color: #707070;
            font-size: 10px;

            >a {
              color: #707070;
              text-decoration: underline;
            }


          }

          >p {
            text-align: center;
            letter-spacing: 0;
            color: #707070;
            font-size: 12px;
            margin-top: 10px;
          }
        }

        >.user-dashboard__list-container-message {
          background: #FFFFFf;
          border-top: 1px solid #C7C7C7;
          padding-top: 10px;
          text-align: left;
          letter-spacing: 0;
          color: #707070;
          font-size: 12px;
        }

        >.user-dashboard__list-container-form {
          margin-top: 20px;
          padding-top: 20px;

          >p {
            margin: 10px 0;
            text-align: center;
            font-size: 20px;
            color: #C7C7C7;
          }

          >div {
            >p {
              text-align: left;
              font-size: 12px;
              letter-spacing: 0;
              color: #707070;
              margin-bottom: 10px;
            }

            >div {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;
              justify-content: space-between;
              align-content: center;

              >.user-dashboard__list-container-form-half {
                width: 45%;
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 5px;

                >input {
                  width: 100%;
                  height: 40px;
                  border: 0;
                  outline: 0;
                  padding: 0 5px;
                  text-align: left;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }

                >select {
                  width: 100%;
                  height: 40px;
                  border: 0;
                  outline: 0;
                  padding: 0 5px;
                  text-align: left;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }
              }

              >.user-dashboard__list-container-form-full {
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 5px;

                >input {
                  width: 100%;
                  height: 40px;
                  border: 0;
                  outline: 0;
                  padding: 0 5px;
                  text-align: left;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }

                >select {
                  width: 100%;
                  height: 40px;
                  border: 0;
                  outline: 0;
                  padding: 0 5px;
                  text-align: left;
                  letter-spacing: 0;
                  color: #707070;
                  font-size: 12px;
                }
              }

            }
          }
        }

        >.user-dashboard__list-container-btn {
          padding-top: 20px;

          >div {
            width: 100px;
            padding: 12px 0;
            text-align: center;
            background: #C7C7C7;
            border-radius: 5px;
            font-size: 10px;
            letter-spacing: 0;
            color: #FFFFFF;
          }
        }
      }
    }

    >.user-dashboard__floor {
      width: 65%;
      background-color: #fff;
      padding: 20px;

      >p {
        text-align: center;
        color: #707070;
        font-size: 14px;
        font-weight: 600;
      }

      >.user-dashboard__floor--filter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        margin-top: 30px;
        margin-bottom: 10px;

        >.user-dashboard__floor--filter-input {
          width: 250px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          align-content: center;

          >.user-dashboard__floor--filter-input-text {
            text-align: left;
            letter-spacing: 0;
            color: #777777;
            font-size: 10px;
            width: 130px;
          }

          >.user-dashboard__floor--filter-input-list {
            width: 100px;
            background: #FFFFFF;
            border: 1px solid #707070;
            border-radius: 5px;

            >select {
              width: 100%;
              height: 30px;
              border: 0;
              outline: 0;
              padding: 0 10px;
              letter-spacing: 0;
              color: #777777;
              font-size: 10px;
            }
          }
        }

        >.user-dashboard__floor--filter-page {
          width: 200px;
          text-align: right;
          font-size: 10px;
          letter-spacing: 0;
          color: #707070;
        }
      }

      >.user-dashboard__floor--table {
        margin-bottom: 20px;

        >.user-dashboard__floor--table-head {
          background: #C7C7C7;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: center;
          align-content: center;
          padding: 0 10px;

          >div {
            width: 16.666666666%;
            padding: 12px 0;
            color: #fff;
            font-size: 10px;
          }
        }

        >.user-dashboard__floor--table-body {
          background: #ffffff;

          >div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;
            align-content: center;
            padding: 20px 10px 0 10px;
            height: 50px;
            border-bottom: 1px solid #C7C7C7;

            >div {
              width: 16.666666666%;
              color: #707070;
              font-size: 10px;

              p {
                text-align: left;
                letter-spacing: 0;
                color: #707070;
                font-size: 10px;
              }

              >span {
                text-align: left;
                letter-spacing: 0;
                color: #F3826C;
                font-size: 10px;
              }

              >a {
                color: #707070;
                text-decoration: underline;
              }

              >div {
                height: 13px;
                text-align: left;
                letter-spacing: 0;
                color: #707070;
                font-size: 10px;
                overflow: hidden;

                >img {
                  width: 13px;
                  vertical-align: 0;
                }
              }
            }
          }
        }
      }
    }

    >.user-dashboard__spinner {
      width: 65%;
      background-color: #fff;
      padding: 50px 50px 100px 50px;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      >div {
        width: 150px;
        margin: 10px auto 30px auto;
        animation: spin 0.8s infinite linear;
      }

      >p {
        max-width: 500px;
        text-align: center;
        letter-spacing: 0;
        color: #707070;
        font-size: 16px;
        font-weight: 600;
        margin: auto;
      }
    }
  }
}