@import url("./reset.css");

.homepage {
  padding-top: 20px;
  text-align: center;

  >h2 {
    color: #707070;
    font-size: 20px;
    margin: 20px 0;
  }

  >.homepage__container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    >div {
      width: 20%;

      >a {
        color: #707070;
        text-decoration: none;

        >div {
          width: 100%;
          border: 1px solid #707070;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          text-transform: capitalize;
          border-radius: 4px;
          color: #707070;
          padding: 10px 0;

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.header {
  height: 80px;
  background: #FFFFFF;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  @media (max-width: 800px) {
    padding: 0 20px;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }

  >.header__logo {
    width: 150px;
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    color: #707070;
  }

  >.header__nav {
    width: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    >div {
      width: 100px;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0;
      color: #707070;
      padding: 10px 0;
      position: relative;

      >div {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 60px;
        background: #C7C7C7;
      }
    }
  }
}