@import url("./reset.css");
.homepage {
  padding-top: 20px;
  text-align: center;
}
.homepage > p {
  font-size: 12px;
  margin: 20px 0;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.8;
  color: #444242;
  font-weight: 600;
}
.homepage > .homepage__container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
@media (max-width: 600px) {
  .homepage > .homepage__container {
    flex-direction: column;
  }
}
.homepage > .homepage__container > div {
  width: 33.3333333%;
  padding: 0 10px;
  margin: 10px 0;
}
@media (max-width: 600px) {
  .homepage > .homepage__container > div {
    width: 100%;
  }
}
.homepage > .homepage__container > div > div {
  padding: 50px 0;
  background: #ffffff;
  box-shadow: 0px 2px 4px #0000001a;
  border-radius: 2px;
}
.homepage > .homepage__container > div > div > p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  color: #707070;
  margin-bottom: 20px;
}
.homepage > .homepage__container > div > div > div {
  width: 100px;
  margin: auto;
  border: 1px solid #5099de;
  border-radius: 5px;
}
.homepage > .homepage__container > div > div > div > a {
  text-decoration: none;
  color: #707070;
}
.homepage > .homepage__container > div > div > div > a > div {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
  color: #707070;
}
.header {
  height: 80px;
  background: #ffffff;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 800px) {
  .header {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 10px;
  }
}
.header > .header__logo {
  width: 150px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0;
}
.header > .header__logo > a {
  font-size: 20px;
  color: #707070;
  text-decoration: none;
}
.header > .header__nav {
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.header > .header__nav > div {
  width: 100px;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  padding: 10px 0;
  position: relative;
}
.header > .header__nav > div > a {
  color: #707070;
  text-decoration: none;
  font-size: 13px;
}
.header > .header__nav > div:hover > .header__nav--inactive {
  display: block;
}
.header > .header__nav > div > .header__nav--active {
  position: absolute;
  top: 0;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 60px;
  background: #c7c7c7;
  display: block;
}
.header > .header__nav > div > .header__nav--inactive {
  position: absolute;
  top: 0;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 60px;
  background: #c7c7c7;
  display: none;
}
.signup {
  padding: 0 50px 100px 50px;
}
.signup > div {
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
}
.signup > div > span {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #707070;
}
.signup > div > div {
  margin: 20px 0;
}
.signup > div > div > .signup__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 80px;
  padding: 0 50px;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}
.signup > div > div > .signup__container > .signup__container--name {
  width: 100px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.signup > div > div > .signup__container > .signup__container--arrow {
  width: 20px;
  text-align: center;
}
.signup > div > div > .personal {
  background: #c7c7c7;
  color: #fff;
}
.signup > div > div > .document {
  background: #fff;
  color: #707070;
}
.signup > div > div > .acc {
  background: #fff;
  color: #707070;
}
.signup > div > div > .signup__container--dropdown {
  padding: 50px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.signup > div > div > .signup__container--dropdown > h3 {
  letter-spacing: 0;
  color: #707070;
}
.signup > div > div > .signup__container--dropdown > div {
  margin-top: 10px;
  overflow: hidden;
}
.signup > div > div > .signup__container--dropdown > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 0 5px;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--half {
  width: 48%;
  margin-bottom: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--half > label {
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
  font-size: 13px;
  font-weight: 600;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--half > input {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-top: 7px;
  width: 100%;
  height: 40px;
  outline: 0;
  padding: 0 10px;
  font-size: 13px;
  opacity: 1;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--full {
  width: 100%;
  margin-bottom: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--full > label {
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
  font-size: 13px;
  font-weight: 600;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--full > input {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-top: 7px;
  width: 100%;
  height: 40px;
  outline: 0;
  padding: 0 10px;
  font-size: 13px;
  opacity: 1;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--full > select {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-top: 7px;
  width: 100%;
  height: 40px;
  outline: 0;
  padding: 0 10px;
  font-size: 13px;
  opacity: 1;
}
.signup > div > div > .signup__container--dropdown > div > div > .personal__input--full > .btn {
  width: 100px;
  height: 40px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #777777;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  padding-top: 14px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  border: 1px solid #707070;
  padding: 50px 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > span {
  font-weight: 600;
  font-size: 16px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  margin-top: 15px;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > div {
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > div > .document__container--text {
  width: calc(100% - 20px);
  min-width: 100px;
  text-align: left;
  padding-left: 50px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > div > .document__container--text > span {
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > div > .document__container--text > p {
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__identity > div > .document__container--arrow {
  width: 20px;
  min-width: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  border: 1px solid #707070;
  padding: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--close {
  text-align: left;
  font-size: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #707070;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--phone {
  background: #ffffff 0% 0%;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin-bottom: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--phone > .document__passport--phone--text {
  width: calc(100% - 20px);
  text-align: center;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--phone > .document__passport--phone--text > span {
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--phone > .document__passport--phone--text > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
  margin-top: 7px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--phone > .document__passport--phone--arrow {
  width: 20px;
  height: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--upload {
  background: #ffffff;
  border: 1px dashed #707070;
  border-radius: 5px;
  padding: 30px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--upload > .document__passport--upload-image {
  width: 30px;
  margin: auto;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--upload > .document__passport--upload-image > img {
  width: 100%;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--upload > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__passport > .document__passport--upload > .document__passport--upload-btn {
  background: #ffffff;
  padding: 10px 0;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  border: 1px solid #707070;
  padding: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--close {
  text-align: left;
  font-size: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #707070;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--phone {
  background: #ffffff 0% 0%;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin-bottom: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--phone > .document__drivers--phone--text {
  width: calc(100% - 20px);
  text-align: center;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--phone > .document__drivers--phone--text > span {
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--phone > .document__drivers--phone--text > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
  margin-top: 7px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--phone > .document__drivers--phone--arrow {
  width: 20px;
  height: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--upload {
  background: #ffffff;
  border: 1px dashed #707070;
  border-radius: 5px;
  padding: 30px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--upload > .document__drivers--upload-image {
  width: 30px;
  margin: auto;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--upload > .document__drivers--upload-image > img {
  width: 100%;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--upload > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__drivers > .document__drivers--upload > .document__drivers--upload-btn {
  background: #ffffff;
  padding: 10px 0;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  border: 1px solid #707070;
  padding: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--close {
  text-align: left;
  font-size: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #707070;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--phone {
  background: #ffffff 0% 0%;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin-bottom: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--phone > .document__card--phone--text {
  width: calc(100% - 20px);
  text-align: center;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--phone > .document__card--phone--text > span {
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--phone > .document__card--phone--text > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
  margin-top: 7px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--phone > .document__card--phone--arrow {
  width: 20px;
  height: 20px;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--upload {
  background: #ffffff;
  border: 1px dashed #707070;
  border-radius: 5px;
  padding: 30px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--upload > .document__card--upload-image {
  width: 30px;
  margin: auto;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--upload > .document__card--upload-image > img {
  width: 100%;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--upload > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  margin: 20px 0;
}
.signup > div > div > .signup__container--dropdown > div > div > .document__card > .document__card--upload > .document__card--upload-btn {
  background: #ffffff;
  padding: 10px 0;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.signup > div > div > .signup__container--save {
  width: 200px;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 5px;
  margin: 40px auto;
  font-size: 10px;
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
}
.user-dashboard {
  padding: 0 50px 100px 50px;
}
.user-dashboard > p {
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  margin-top: 20px;
}
.user-dashboard > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  margin-top: 30px;
}
.user-dashboard > div > .user-dashboard__list {
  width: 30%;
  background-color: #fff;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-header {
  background: #F5F7FA;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-header > div {
  width: 70%;
  background: #fff;
  text-align: left;
  letter-spacing: 0;
  font-size: 12px;
  color: #707070;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-weight: 600;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container {
  background: #FFFFFF;
  padding: 20px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-text {
  background: #FFFFFf;
  border: 1px solid #C7C7C7;
  padding: 20px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-profile {
  background: #FFFFFf;
  padding: 20px;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  text-align: center;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-profile > div {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-profile > span {
  text-decoration: underline;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-profile > span > a {
  color: #707070;
  text-decoration: underline;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-profile > p {
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
  margin-top: 10px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-message {
  background: #FFFFFf;
  border-top: 1px solid #C7C7C7;
  padding-top: 10px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form {
  margin-top: 20px;
  padding-top: 20px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > p {
  margin: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #C7C7C7;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > p {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
  color: #707070;
  margin-bottom: 10px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-half {
  width: 45%;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-half > input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-half > select {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-full {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-full > input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-form > div > div > .user-dashboard__list-container-form-full > select {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 12px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-btn {
  padding-top: 20px;
}
.user-dashboard > div > .user-dashboard__list > .user-dashboard__list-container > .user-dashboard__list-container-btn > div {
  width: 100px;
  padding: 12px 0;
  text-align: center;
  background: #C7C7C7;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.user-dashboard > div > .user-dashboard__floor {
  width: 65%;
  background-color: #fff;
  padding: 20px;
}
.user-dashboard > div > .user-dashboard__floor > p {
  text-align: center;
  color: #707070;
  font-size: 14px;
  font-weight: 600;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter > .user-dashboard__floor--filter-input {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter > .user-dashboard__floor--filter-input > .user-dashboard__floor--filter-input-text {
  text-align: left;
  letter-spacing: 0;
  color: #777777;
  font-size: 10px;
  width: 130px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter > .user-dashboard__floor--filter-input > .user-dashboard__floor--filter-input-list {
  width: 100px;
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 5px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter > .user-dashboard__floor--filter-input > .user-dashboard__floor--filter-input-list > select {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  padding: 0 10px;
  letter-spacing: 0;
  color: #777777;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--filter > .user-dashboard__floor--filter-page {
  width: 200px;
  text-align: right;
  font-size: 10px;
  letter-spacing: 0;
  color: #707070;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table {
  margin-bottom: 20px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-head {
  background: #C7C7C7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-head > div {
  width: 16.66666667%;
  padding: 12px 0;
  color: #fff;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body {
  background: #ffffff;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 20px 10px 0 10px;
  height: 50px;
  border-bottom: 1px solid #C7C7C7;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div {
  width: 16.66666667%;
  color: #707070;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div p {
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div > span {
  text-align: left;
  letter-spacing: 0;
  color: #F3826C;
  font-size: 10px;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div > a {
  color: #707070;
  text-decoration: underline;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div > div {
  height: 13px;
  text-align: left;
  letter-spacing: 0;
  color: #707070;
  font-size: 10px;
  overflow: hidden;
}
.user-dashboard > div > .user-dashboard__floor > .user-dashboard__floor--table > .user-dashboard__floor--table-body > div > div > div > img {
  width: 13px;
  vertical-align: 0;
}
.user-dashboard > div > .user-dashboard__spinner {
  width: 65%;
  background-color: #fff;
  padding: 50px 50px 100px 50px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-dashboard > div > .user-dashboard__spinner > div {
  width: 150px;
  margin: 10px auto 30px auto;
  animation: spin 0.8s infinite linear;
}
.user-dashboard > div > .user-dashboard__spinner > p {
  max-width: 500px;
  text-align: center;
  letter-spacing: 0;
  color: #707070;
  font-size: 16px;
  font-weight: 600;
  margin: auto;
}
